table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width: 100%;
}

td {
    text-align: center;
    vertical-align: middle;
}

.buttonHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: fit-content;
}

div.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.test, div.table {
    width: 48%;
}